*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box{
    height: 300px;
    width: 400px;
    background-color: blue;
}

.container{
    background-color: aqua;
    display: flex;
}

.container > .boxs{
    height: 200px;
    width: 200px;
    border: 2px solid black;
}

@media (max-width:768px) {
    .box{
        background-color: red;
        border-radius: 10px;
    }

    .container{
        flex-direction: column;
        gap: 20px;
    }

    .container > .boxs{
        border-radius: 10px;
        width: 70%;
    }
}

@media (min-width:900px) {
    .box{
        background-color: yellow;
    }
}