*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer {
    height: 100vh;
    background-color: aqua;
    display: flex;
}

.outer > .left{
    flex-basis: 58%;
}

.outer > .right{
    flex-basis: 40%;
}