

/* 1.tagname selector */

/* p{
    color: red;
} */

/* 2.id selector */

/* #p1{
    color: red;
} */

/* 3.class selector */

/* .para{
    color: green;
} */

/* 4.universal selector */

/* *{
    color: aqua;
} */

/* 5.group selector */

/* h1, #p1, li{
    color: red;
 } */