*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box1{
   background-color: rgb(221, 241, 102);
   /* height: 100%; dont use % in height it will take the content height */
   width: 100%;
   height: 100vh;
   width: 80vw;

}

.box2{
    height: 400px;
    width: 400px;
    border: 2px solid black;
}

.box2 > .con1{
    height: 200px;
    width: 300px;
    border: 2px solid rgb(224, 76, 76);
}

.box2 > .con2{
    height: 50%;
    width: 50%;
    border: 2px solid green;
}